<!-- views/partials/footer.ejs -->
<footer class="footer">
  <p>A project by <a href="https://www.mikemjharris.com">mikemjharris</a>.</p>
  <p>Code can be found <a href="https://github.com/mikemjharris/books">on github</a>.</p>
</footer>
