<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png">
    <link  rel='stylesheet' href='style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

</head>

<body>
  <!-- Google Analytics -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-36647147-13', 'auto');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
  <section>
		<h1><%= data.title %></h1>
     
     
    <p style="max-width: 640px; line-height: 1.5">Project that shows all the books i've read since 2011.
    Wrote about making it in two blog posts: <a href="https://blog.mikemjharris.com/posts/books-project-pt1" target="_blank">The first</a> about the backend and graphql.  <a href="https://blog.mikemjharris.com/posts/books-project-pt2" target="_blank">The second</a> about the React front end and styled components</p>
    <div id="app"></div>
    <p>
     <a href="/graphql?query=%7B%0A%09books%20%7B%0A%20%20%20%20title%0A%20%20%20%20author%0A%20%20%20%20gender%0A%20%20%20%20year%0A%20%20%20%20month%0A%20%20%7D%0A%7D%0A">Visit here for the graphql end point and list of books</a>
    </p>
  </section>
		<%- include('partials/footer') %>
    <script src="bundle.js"></script>
</body>

</html>
