* {
  font-family: 'Raleway', sans-serif;
}

body{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: hsla(120, 60, 60, 1);
}

section {
  min-height: 80vh;
}


